body {
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #5E5E5E;
}

.container {
  width: 360px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title {
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  color: #000000;
}

.subtitle {
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #5E5E5E;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

.header__container {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.header__body {
  display: flex;
  align-items: center;
  padding: 15px 0px 14px 0px;
}

.burger__btn {
  margin-right: auto;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.header__icon-list {
  display: flex;
  align-items: center;
  gap: 22px;
}

.burger__favorite {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.burger__basket {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.burger__user {
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.hero__nav {
  padding: 19px 0px 10px 0px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
}

.hero__nav > span {
  color: #00B268;
}

.hero__delivery {
  display: flex;
  align-items: center;
  padding: 8px 18px 8px 19px;
  margin-bottom: 13px;
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  border: 2px solid #00B368;
  border-radius: 25px;
  background-color: inherit;
  cursor: pointer;
}
.hero__delivery::before {
  content: "";
  display: block;
  margin-right: 8px;
  background-image: url("../icon/delivery.svg");
  width: 24px;
  height: 24px;
}

.hero__title {
  margin-bottom: 71px;
}

.hero__screwdriver-big {
  margin-bottom: 12px;
  background: linear-gradient(180deg, #F0F0F0 0%, #D5EDFF 100%);
  background-image: url("../img/card/Frame.jpg");
  width: 330px;
  height: 330px;
}

.hero__screwdriver-list {
  display: flex;
  gap: 10px;
  margin-bottom: 32px;
}

.hero__screwdriver-front {
  background: linear-gradient(180deg, #F0F0F0 0%, #D5EDFF 100%);
  background-image: url("../img/card/Frame1.jpg");
  width: 75px;
  height: 75px;
}

.hero__screwdriver-side {
  background: linear-gradient(180deg, #F0F0F0 0%, #D5EDFF 100%);
  background-image: url("../img/card/Frame2.jpg");
  width: 75px;
  height: 75px;
}

.hero__screwdriver-set {
  background: linear-gradient(180deg, #F0F0F0 0%, #D5EDFF 100%);
  background-image: url("../img/card/Frame3.jpg");
  width: 75px;
  height: 75px;
}

.hero__screwdriver-switch {
  background: linear-gradient(180deg, #F0F0F0 0%, #D5EDFF 100%);
  background-image: url("../img/card/Frame4.jpg");
  width: 75px;
  height: 75px;
}

.hero__details-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed";
  margin-bottom: 61px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #000000;
  cursor: pointer;
}
.hero__details-text::after {
  content: "";
  display: block;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  background-image: url("../icon/cross-down.svg");
}

.hero__delivery-text {
  margin-bottom: 19px;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #5E5E5E;
}
.hero__delivery-text::before {
  content: "";
  margin-bottom: 46px;
  display: block;
  opacity: 0.5;
  border-top: 1px solid #000000;
}

.hero__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.hero__tel {
  padding: 12px 16px;
  border: 1px solid #000000;
  border-radius: 8px;
}

.hero__tel::placeholder {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.hero__email {
  padding: 12px 16px;
  border: 1px solid #000000;
  border-radius: 8px;
}

.hero__email::placeholder {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.hero__name {
  padding: 12px 16px;
  margin-bottom: 29px;
  border: 1px solid #000000;
  border-radius: 8px;
}

.hero__name::placeholder {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.hero__btn {
  padding: 20px 23px;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #F45A03;
  background: #F45A03;
  box-shadow: 0px 18px 50px rgba(244, 90, 3, 0.5);
  border-radius: 20px;
  cursor: pointer;
}

.about__container {
  padding-top: 113px;
}

.about__title {
  margin-bottom: 26px;
}

.about__subtitle {
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 30px;
}

.about__btn-wrapper {
  display: flex;
  justify-content: center;
}

.about__button {
  width: 320px;
  margin-bottom: 71px;
  padding: 20px 23px;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #00B268;
  border: 1px solid #00B268;
  border-radius: 20px;
  background-color: inherit;
  cursor: pointer;
}

.about__img {
  background-image: url("../img/about/image.png");
  width: 345px;
  height: 351px;
}

.star__container {
  padding-top: 113px;
}

.star__title {
  margin-bottom: 30px;
}

.star__text {
  margin-bottom: 30px;
}

.star__img {
  margin-bottom: 30px;
  background-image: url("../img/about/image2.png");
  width: 330px;
  height: 330px;
}

.star__text-when {
  margin-bottom: 30px;
}

.star__text-primary {
  margin-bottom: 30px;
}

.star__img-wrapper {
  display: flex;
  justify-content: center;
}

.star__img-smal {
  text-align: center;
  background-image: url("../img/about/image3.png");
  width: 204px;
  height: 205px;
}

.top__container {
  padding-top: 59px;
  padding-bottom: 101px;
}

.top__title {
  margin-bottom: 39px;
}

.top__item::after {
  content: "";
  display: block;
  opacity: 0.5;
  border: 1px solid #000000;
}

.top__item-text {
  position: relative;
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.top__item-text::before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: -60px;
  width: 27px;
  height: 27px;
  background-image: url("../icon/check-mark.svg");
}

.top__item:nth-child(1) {
  border-top: 1px solid #000000;
}

.top__item-text > span {
  color: #04BB21;
}

.customers {
  background: #E2EFF8;
}

.customers__container {
  padding-top: 63px;
  padding-bottom: 71px;
}

.customers__title {
  display: flex;
  position: relative;
  margin-left: auto;
  width: 259px;
  margin-bottom: 34px;
}
.customers__title::before {
  content: "";
  display: block;
  top: 13px;
  left: -75px;
  position: absolute;
  background-image: url("../img/star/star.png");
  width: 56px;
  height: 56px;
}

.customers__wrapper-text {
  margin-bottom: 81px;
  margin-left: auto;
  width: 259px;
}

.customers__subtitle {
  margin-bottom: 16px;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.customers__text {
  font-family: "Roboto Condensed";
  font-size: 20px;
  line-height: 20px;
}

.customers__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-bottom: 45px;
}

.customers__item {
  padding: 32px;
  background: #FFFFFF;
}

.customers__date {
  margin-bottom: 8px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
}

.customers__wrapper-img {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.customers__img-person {
  margin-right: 14px;
}

.customers__name {
  margin-bottom: 8px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: #000000;
}

.customers__coment {
  font-family: "Roboto Condensed";
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.customers__show-me {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed";
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  cursor: pointer;
}
.customers__show-me::after {
  content: "";
  display: block;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  background-image: url("../icon/cross-down.svg");
}

.how__container {
  padding-top: 74px;
  padding-bottom: 117px;
}

.how__title {
  margin-bottom: 50px;
}

.how__subtitle {
  margin-bottom: 29px;
}

.how__text {
  margin-bottom: 50px;
}

.how__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.how__item {
  display: flex;
  align-items: center;
}

.how__item-text {
  margin-left: 18px;
}

.item-join,
.item-choose,
.item-receive {
  width: 63px;
  height: 63px;
}

.how__button {
  margin-top: 58px;
  padding: 21px 23px;
  width: 320px;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #00B268;
  background: #00B268;
  box-shadow: 0px 18px 50px rgba(0, 178, 104, 0.5);
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.footer {
  background: #010036;
}

.footer__container {
  padding-top: 37px;
  padding-bottom: 43px;
}

.footer__text {
  margin-bottom: 23px;
  font-family: "Roboto Condensed";
  font-size: 11px;
  line-height: 13px;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 7px;
}/*# sourceMappingURL=main.css.map */