.customers {
    background: #E2EFF8;
}
.customers__container {
    padding-top: 63px;
    padding-bottom: 71px;
}
.customers__title {
    display: flex;
    position: relative;
    margin-left: auto;
    width: 259px;
    margin-bottom: 34px;
    &::before{
        content: "";
        display: block;
        top: 13px;
        left: -75px;
        position: absolute;
        background-image: url('../img/star/star.png');
        width: 56px;
        height: 56px;
    }
}
.customers__wrapper-text {
    margin-bottom: 81px;
    margin-left: auto;
    width: 259px;
}
.customers__subtitle {
    margin-bottom: 16px;
    font-family: 'Roboto Condensed';
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: $color-dark;
}
.customers__text {
    font-family: 'Roboto Condensed';
    font-size: 20px;
    line-height: 20px;
}
.customers__list {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 45px;
}
.customers__item {
    padding: 32px;
    background: #FFFFFF;
}
.customers__date {
    margin-bottom: 8px;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
}
.customers__wrapper-img {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.customers__img-person {
    margin-right: 14px;
}
.customers__name {
    margin-bottom: 8px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: $color-dark;
}
.customers__coment {
    font-family: 'Roboto Condensed';
    font-size: 14px;
    line-height: 22px;
    color: $color-dark;
}
.customers__show-me {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    line-height: 23px;
    color: $color-dark;
    cursor: pointer;
    &::after {
        content: "";
        display: block;
        margin-left: 8px;
        width: 15px;
        height: 15px;
        background-image: url('../icon/cross-down.svg');
    }
}