.footer {
    background: #010036;
}
.footer__container {
    padding-top: 37px;
    padding-bottom: 43px;
    background: #010036;
}
.footer__text {
    margin-bottom: 23px;
    font-family: 'Roboto Condensed';
    font-size: 11px;
    line-height: 13px;
}
.footer__list {
    display: flex;
    justify-content: center;
    gap: 7px;
}

@media screen and (min-width:768px) {
    .footer__container {
        padding-top: 37px;
        padding-bottom: 38px;
    }
    .footer__list {
        justify-content: flex-start;
    }
}