.footer {
    background: #010036;
}
.footer__container {
    padding-top: 37px;
    padding-bottom: 43px;
}
.footer__body {
}
.footer__text {
    margin-bottom: 23px;
    font-family: 'Roboto Condensed';
    font-size: 11px;
    line-height: 13px;
}
.footer__list {
    display: flex;
    justify-content: center;
    gap: 7px;
}
.footer__item {
}
.footer__img {
}