.star {
}
.star__container {
    padding-top: 113px;
}
.star__body {
}
.star__title {
    margin-bottom: 30px;
}
.star__text {
    margin-bottom: 30px;
}
.star__img {
    margin-bottom: 30px;
    background-image: url('../img/about/image2.png');
    width: 330px;
    height: 330px;
}
.star__text-when {
    margin-bottom: 30px;
}
.star__text-primary {
    margin-bottom: 30px;
}
.star__img-wrapper {
    display: flex;
    justify-content: center;
}
.star__img-smal {
    text-align: center;
    background-image: url('../img/about/image3.png');
    width: 204px;
    height: 205px;
}