.top__container {
    padding-top: 59px;
    padding-bottom: 101px;
}
.top__title {
    margin-bottom: 39px;
}
.top__item {
    display: flex;
    align-items: center;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        opacity: 0.5;
        top: 0;
        border-top: 1px solid $color-dark;
        width: 100%;
    }
    &:last-child{
        border-bottom: 1px solid rgb(0, 0, 0, 0.5);
        width: 100%;
        bottom: 0;
    }
}
.top__item-icon {
    width: 27px;
    height: 27px;
}
.top__item-text {
    padding-left: 23px;
    width: 280px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}
.top__item-text > span {
   color: #04BB21;
} 
.top__number {
    margin-left: auto;
    margin-right: 35px;
}

@media screen and (min-width:768px) {
    .top__container {
        padding-top: 122px;
        padding-bottom: 113px;
    }
    .top__title {
        margin-bottom: 34px;
    }
    .top__item-text {
        margin-top: 18px;
        margin-bottom: 16px;
        padding-left: 93px;
    }
    .top__item-text {
        width: 75%;
    }
}